@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family

h1
  color:#002855
  text-align: center

table
  border: solid #002855 2px
  background-color: #002855
  margin: 1em auto
